.textline h3 {
  height: 40px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  line-height: 40px;
}

.textline h3 a {
  display: block;
  color: #666;
}

.textline h3 a span {
  position: absolute;
  left: 37px;
  top: 0;
  display: block;
  padding-right: 8px;
  height: 40px;
  background-color: #eee;
  font-weight: normal;
}

.textline .line {
  display: block;
  height: 1px;
  font-size: 0;
  background-color: #d8d8d8;
  margin-top: 19px;
}