.login_wrapper{
    width: 100%;
    height: 667px;
    background: #eee;
}
.login_top{
    width: 100%;
    height: 45px;
    padding: 0 58px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.12);
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
}
.back{
    display: block;
    width: 58px;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 21px;
    font-weight: 900;
    color: #f41e33;
    position: absolute;
    top: 0;
    left: 0;
}
.cont{
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-align: center;   
}
.cont h2{
    font-size: 17px;
    color: #262626;
}